  <div>
how the fuck ????
  {{ text }}

    <!-- <div ng-controller="loginController as login"  class="a-loginForm" style="padding: 10px 10px 5px 10px; border: 1px solid #d5d5d5; border-radius: 3px; margin-bottom: 10px;">
      <div ng-show="login.user.loggedIn" class="">
        Welcome Back
        <div class="">
          <a class="a-logout" style="font-weight: bold; font-size: 14px;">Login as another user</a>
        </div>
      </div>
      <form ng-if="!login.user.loggedIn" ng-submit="login.login(loginForm)" name="loginForm" class="a-loginUser" novalidate="novalidate">
        <div class="form-group">
          <input type="text" class="form-control" id="loginMobile" name="loginMobile" tabindex="1" placeholder="Mobile" ng-model="login.mobile" />
        </div>
        <div class="form-group" style="margin-bottom: 5px;">
          <div class="input-group">
            <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Password" ng-model="login.password" />
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" style="font-weight: bold;">Log in</button>
            </span>
          </div>
        </div>
        <div class="form-group" style="font-size: 12px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">
          <label style="font-weight: normal; margin-right: 10px; margin-bottom: 0px;">
            <input type="checkbox" style="vertical-align: -2px;" /> Remember me
          </label>
          <a href="/forgotPassword" class="">Forgot Password</a>
        </div>
        <div class="form-group a-loginSignupLinks">
          <div class="">
            New user? <a href="/signup">Sign up</a>
          </div>
        </div>
      </form>
    </div> -->

  </div>
